

<h1><%= @article[:title] %></h1>

<p> <%= @article[:content] %> </p>

<%= link_to "edit article", edit_article_path %>


<%= link_to 'Back to articles', url_for(:articles) %>

<%# <i class="fas fa-pencil-alt"></i> %>
